$white: #FFF;
$black: #000;
$green: rgb(24, 182, 24);
$offWhite: #dbe2ef;
$skyBlue: #7cade9;
$navyBlue: #112d4e;
$productGridDivsBackgroundColor: #444;
$productGridBorderAndBackgroundColor: #777;