@import "colors";
@import "icons";

.released {
    visibility: hidden;
    color: $green;
}

.gridExplanation {
    background-color: $navyBlue;
    color: $offWhite;
    padding: 0.7em;
}

.informationTabs {
    margin-top: 3em;
    background-color: $productGridBorderAndBackgroundColor;
    color: $offWhite;
    border: 5px solid $black;
    font-size: 2em;

    .itemTabs {
        background-color: $productGridDivsBackgroundColor;
        padding: 0.6em 0.4em;
        border-bottom: 1px solid $white;
    }

    .itemTabs:hover {
        cursor: pointer;
    }

    .itemDetails {
        display: none;

        div {
            border-bottom: 1px solid $white;
            padding-top: 0.4em;
            padding-bottom: 0.4em; 
            padding-left: 0.2em;
            padding-right: 0.2em;
            font-size: 0.8em;
        }

        a {
            color: $navyBlue;
            text-decoration: none;
        }
    }
}

.informationTabs .itemTabs:nth-last-of-type(2) {
    border: none;
}

.informationTabs .itemDetails div:nth-last-of-type(1) {
    border: none;
}

.bottomBorder {
    border-bottom: 1px solid $white;
}

/***************************************************************/
/************************ MEDIA QUERIES ************************/
/***************************************************************/

@media only screen and (max-width: 1505px) {
    .informationTabs {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 650px) {
    .informationTabs {
        font-size: 0.9em;
    }

    .informationTabs, .itemDetails {
        letter-spacing: 1px;
    }

    .gridExplanation {
        margin-top: 6em;
    }
}