@import "index";
@import "colors";

/* Heading sizes for desktop version */
h1 { font-size: 40px; }
h2 { font-size: 24px; }
h3 { font-size: 16px; }

/* General font style classes */
.italicized { font-style: italic; }

body {
    font-family: Arial, Helvetica, sans-serif;
    color: $black;
    margin: 0px;
}

#container {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#content {
    // max-width: 75%;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 5em;
}

.homepageBanner {
    img {
        width: 100%;
    }
}

.navSection {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: $navyBlue;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0px;
    width: 85%;

    .header {
        h1 {
            margin-top: 0px;
            margin-bottom: 0px;
            float: left;
            padding-left: 20px;
            color: $skyBlue;
        }
    }
}

.navList {
    height: 40px;
    text-align: right;
    padding-right: 15px;
    padding-top: 1px;
    font-size: 1em;

    ul {
        padding-left: 0px;
        padding-top: 13px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    li {
        display: inline;
        font-weight: bold;
        padding-right: 5px;
    }

    a {
        text-decoration: none;
        color: $offWhite;
        margin-left: 5px;
        padding: 8px 8px 2px 8px;
    }

    a.current {
        border-bottom: 1px solid $skyBlue;
    }
}

.responsiveNav, .responsiveNavList { display: none; }

.footer {
    font-size: .80em;
    font-style: italic;
    line-height: 20px;
    margin-top: 18px;
    padding: 15px 20px 15px 20px;
    background-color: $navyBlue;
    color: $white;

    a {
        color: $skyBlue;
    }
}

/***************************************************************/
/************************ MEDIA QUERIES ************************/
/***************************************************************/

@media only screen and (max-width: 1505px) {
    h1 {
        font-size: 32px;
        padding-right: 0px;
    }

    .navSection {
        grid-template-columns: 2fr 1fr;
    }

    .navList { display: none; }

    .responsiveNav {
        display: inline;
        text-align: right;
        color: $white;
        padding-right: 1.5em;
        padding-top: 0.15em;

        .fas {
            font-size: 2em;
        }
    }

    .responsiveNavList {
        background-color: $navyBlue;
        color: $offWhite;
        text-decoration: none;
        position: absolute;
        width: 100%;
        top: 0px;
        opacity: 0.8;

        ul {
            padding-left: 0px;
            padding-top: 13px;
            margin-bottom: 0px;
            margin-top: 0px;
        }
    
        li {
            list-style-type: none;
            font-weight: bold;
            margin-bottom: 0.5em;
        }
    
        a {
            text-decoration: none;
            color: $offWhite;
        }
    
        a.current {
            border-bottom: 1px solid $skyBlue;
        }
    }
}

@media only screen and (max-width: 650px) {
    h1 { font-size: 24px; }
    h2 { font-size: 20px; }

    .responsiveNav {
        font-size: 0.5em;
    }

    .homepageBanner {
        display: none;
    }

    .navSection h1 {
        padding-left: 0px;
        text-align: left;
    }
}

